body {
    margin: 0;
}

.container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {background-color: #003476;}
nav {background-color: #0062dc;}
aside {background-color: #b4d2f7;}
section {background-color: #b6cbee;}
footer {background-color: #dfe1e5;}

header, nav, aside, section, footer {
    color: white;
    min-height: 150px;
    min-width: 150px;
    width: 100%;
}


/*  MEDIA QUERIES */
@media (min-width: 600px) and (max-width: 799px) {
    header {width: 100%;}
    nav, aside {width: 50%;}
    section, footer {width: 100%;}
}

@media  (min-width: 800px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }    
    nav {width: 40%;}
    header {width: 60%;}
    aside {width: 33%;}
    section {width: 67%;}
    footer {width: 100;};
}