html,body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: black;
    background-color: #efefef;
}
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 360px auto;
    grid-template-areas: "navigation"
                         "main-content";
    grid-gap: 15px;
}

section {
    position: relative;
    background-color: #FDFDFD;
    padding: 20px;
    margin: 20px 0;
}
section img {
    width: 100%;
}
header {
    color: black;
    font-size: 1.5em;
}
section article {
    margin: 10px;
    font-size: 1em;
}
section ul {
    margin: 10px 0;
}
section ul li{
    margin: 7px 0px;
}

/*Buttom arrow button using css effects*/
#go-up {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    right: 50%;
    bottom: -23px;
    transform: rotate(45deg);
    border-color: #98A1A1 transparent transparent #98A1A1;
    border-width: 27px;
    border-style: solid;
    border-radius: 7px;
}
a#go-up:after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 10px;
    height: 30px;
    background-color: #98a1a1;
    transform: rotate(-45deg);
    left: -7px;
    bottom: -16px;
}


nav#navbar {
    grid-area: navigation;
    border-right: solid;
    border-color: rgba(0,22,22,0.4);
    background-color: #fdfdfd;
}
nav header {
    margin: 10px;
    text-align: center;
    font-size: 1.7em;
}
nav ul {
    overflow-y: auto;
    overflow-x: hidden;
}
nav ul li {
    color: #4d4e53;
    border:1px solid;
    border-bottom-width:0px;
    padding:8px;
    padding-left:45px;
    list-style: none;
    position:relative;
    left:-50px;
    width:100%;
}
nav a {
    color: #4d4e53;
    text-decoration:none;
    cursor:pointer;
}

main#main-doc{
    grid-area: main-content;
}

code{
    display:block;
    text-align: left;
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.4;
    background-color:#f7f7f7;
    padding:5px;
    margin:10px 0;
    border-radius:5px;
}





@media screen and (min-width: 768px) {
    .container{
        grid-template-columns: 300px auto;
        grid-template-rows: 100%;
        grid-template-areas: "navigation main-content";
    }
    nav#navbar {
        grid-area: navigation;
        position: fixed;
        min-width: 290px;
        top: 0px;
        left: 0px;
        width: 300px;
        height: 100%;
        border-right: solid;
        border-color: rgba(0,22,22,0.4);
        background-color: #fdfdfd;
    }
    #go-up {
        display: none;
    }
}