* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
    color: #5d5d5d;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.2em;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.header-form {
    text-align: center;
    background-color:#F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    
    width: 80%;
    margin: 40px 0;
    padding: 50px;
}
.header-form h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
.header-form p {
    font-style: italic;
    letter-spacing: 2px;
}