* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
    color: #5d5d5d;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.2em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Header*/
.header-form {
    text-align: center;
    background-color:#F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 7px;
    
    width: 80%;
    margin: 40px 0;
    padding: 50px;
}
.header-form h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
.header-form p {
    font-style: italic;
    font-size: 14px;
    letter-spacing: 2px;
}



/*Form*/
.age-control-form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    width: 80%;
    border-radius: 7px;
    padding: 50px;
}
.form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}
.form-row select, .form-row input[type='text'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    font-size: 1em;
    margin-left: 4px;
}
.form-row label {
    margin-bottom: 10px;
}
.form-row button {
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color:orange;
    border: none;
    border-radius: 5px;
    padding: 20px 10px;
    margin-top: 15px;
    cursor: pointer;
}
.form-row button:hover{
    background-color:rgb(179, 127, 60);
}
#output {
    background-color: #eaeaea;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


/*Media queries*/
@media (min-width: 400px) {

    .age-control-form, .header-form {
        max-width: 600px;
    }
    .header-form p {
        font-size: 16px
    }
    .form-row {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        float:left;
        
    }
    .form-row select, .form-row input[type='text'] {
        width: 70%;
    }
    .form-row select {
        margin-left: 4px;
    }
    
    .form-row:nth-child(2) {
        width:33%;
        margin-right: 6%;
    }
    .form-row:nth-child(1) {
        width:22%;
        margin-right: 6%;
    }
    .form-row:nth-child(3) {
        width:25%;
        margin-right: 6%;
    }

    .form-row:nth-child(4), .form-row:nth-child(5) {
        clear: both;
    }
    .form-row:nth-child(5) {
        float: none;
    }
    .form-row button {
        width: 60%;
    }
}